-
    var menu = [
        {
            title : "Trang chủ",
            link: "/",
            dropdown: false
        },
        {
            title : "Giới thiệu",
            link: "",
            dropdown: false
        },
        {
            title : "Sản phẩm",
            link: "/products.html",
            dropdown: true
        },
        {
            title : "Sản phẩm mới",
            link: "",
            dropdown: true
        },
        {
            title : "Tin Tức",
            link: "/news.html",
            dropdown: false
        },
        {
            title : "Liên hệ",
            link: "/contact.html",
            dropdown: false
        }
    ]
-
    const contentFooter = [
            {
                title :"Thông tin khách hàng",
                list:["Tài khoản của tôi", "Sản phẩm yêu thích", "Lịch sử mua hàng", "Chính sách đổi trả", "Góp ý, khiếu nại"]
            },
            {
                title :"Hỗ trợ dịch vụ",
                list:["Hệ thống cửa hàng", "Hướng dẫn mua hàng", "Hướng dẫn thanh toán", "Tích điểm đổi quà", "Câu hỏi thường gặp"]
            },
            {
                title :"Chính sách ưu đãi",
                list:["Chính sách giao hàng","Chính sách đổi trả sản phẩm", "Chính sách bảo hành", "Giới thiệu sản phẩm mới", "Chính sách trả góp"]
            },
            {
                title :"Tin tức",
                list:["Tin mới", "Khuyến mại", "Tuyển dụng", "Download", "Tags"]
            }
        ]
-   
    const footerBottom = {
            title: ["Sitemap", "Danh mục sản phẩm", "Hợp tác", "Thông tin liên hệ", "Câu hỏi thường gặp"],
            icon: ["fab fa-cc-visa", "fab fa-cc-mastercard", "fab fa-cc-paypal","fab fa-cc-visa" ]
        }