.main {
    &__right {
        .detail-new {
            &__title {
                color: $greyColor;
            }

            &__img {
                margin-bottom: 1rem;
            }

            &__desc {
                color: $greyColor;
            }
        }
    }
}

.main {
    &__right {
        .comment {
            &__title {
                font-size: pxToRem(18px);
                font-weight: 600;
            }

            &__content {
                .comment__item {
                    .comment__item-parent {
                        border-bottom: 1px solid $border-grey-color;
                        @include mobile {
                            flex-direction: column;
                            .comment__item-sub {
                                flex-direction: column;
                                padding-left: pxToRem(30px);
                            }
                        }
                    }

                    &__img {
                        flex-basis: 20%;
                    }

                    &__body {
                        &-name {
                            .rep {
                                text-decoration: underline;
                            }
                        }

                        &-content {
                            @include fontSize-color(pxToRem(12px),$greyColor);
                        }

                        &-time {
                            border-bottom: 1px solid $border-grey-color;
                            @include fontSize-color(pxToRem(12px),$greyColor);
                        }
                    }
                }
            }
        }
    }
}

.main {
    &__right {
        .create-comment {
            &__title {
                font-size: pxToRem(18px);
                font-weight: 600;
            }

            form {
                .input-group {
                    input {
                        outline: none;
                        @include mobile {
                            margin-bottom: pxToRem(10px);
                        }
                    }
                }   
                
                textarea {
                    border: 1px solid $border-grey-color;
                    padding-top: pxToRem(10px);
                    padding-left: pxToRem(20px);
                    width: 100%;
                    height: pxToRem(145px);
                    outline: none;
                }
            }

            .button {
                border: 1px solid $border-grey-color;
                border-radius: pxToRem(18px);
                background-color: $greenColor;
                color: $white-color;
                cursor: pointer;
                outline: none;
                @include py(pxToRem(5px),pxToRem(5px));
                @include px(pxToRem(40px),pxToRem(40px))
            }
        }
    }
}