@import './ultilities/variables';
@import './ultilities/mixin';
* {
    box-sizing: border-box
};

@function pxToRem($px) {
    @return $px / 16px * 1rem;
};

@import './components/header.scss';
@import './components/footer.scss';
@import './pages/index.scss';
@import './pages/list.scss';
@import './pages/horizontalList.scss';
@import './pages/detailProduct.scss';
@import './pages/cart.scss';
@import './pages/new.scss';
@import './pages/detailNew.scss';
