$greyColor : #898989;
$greenColor : #3FB871;
$background-color : #313131;
$color-name-product : #555555;
$color-price : #ED1C24;
$color-discounted-price : #959595;
$white-color : #fff;
$span-color-header : #7D7D7D;
$border-grey-color : #E1E1E1;
$layer-hover-color : #000000;
$sales-color : #D64146;
