$greyColor : #898989;
$greenColor : #3FB871;
$background-color : #313131;
$color-name-product : #555555;
$color-price : #ED1C24;
$color-discounted-price : #959595;
$white-color : #fff;
$span-color-header : #7D7D7D;
$border-grey-color : #E1E1E1;   
$layer-hover-color : #000000;
$sales-color : #D64146;
$border-bottom-sidebar: #EBEBEB;
$purple-color : #913CCD;
$yellow-color : #F7D842;
$orange-color : #F76D3C;
$blue-color : #5481E6;
$pink-color : #F15F74;
$list-icon-color : #AFAFAF;
$sort-text-color : #363636;
$border-select-color : #CCCCCC;
$desc-color : #636363;
$info-titel-color : #6F6F6E;